@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .menu__list {
  display: flex;
  gap: 90px;
}
.header__container .menu__list .menu__item a {
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #1F1F1F;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.header__container .menu__list .menu__item a:hover {
  color: #D342F8;
}
.header__container .menu__list .menu__item a:focus {
  color: #D342F8;
  border: 1px solid #D844FE;
}
.header__container .account {
  display: flex;
  gap: 19px;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.footer {
  background-color: #48225A;
  padding: 40px 0 52px 0;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__logo {
  margin: 0 0 90px 0;
}
.footer .author {
  letter-spacing: 0.02em;
}
.footer .author p:first-child {
  line-height: 158%;
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.5);
}
.footer .author p span {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.footer .author p:last-child {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 158%;
}
.footer .policy .policy__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 0 68px 0;
}
.footer .policy a {
  font-weight: 300;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 36px 0;
}
.footer .menu__list a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
}
.footer .contacts p {
  font-size: 18px;
  line-height: 166%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  font-weight: 700;
}
.footer .contacts .phone {
  margin: 0 0 32px 0;
}
.footer .contacts .email {
  margin: 0 0 40px 0;
}
.footer .contacts .phone a,
.footer .contacts .email a {
  display: block;
  font-size: 18px;
  line-height: 166%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.footer .contacts .social {
  display: flex;
  gap: 37px;
  align-items: center;
  justify-content: right;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.btn {
  border-radius: 40px;
  padding: 12px 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 122%;
  cursor: pointer;
}

.btn-primary {
  color: #FFFFFF;
  background: #D944FF;
}

.btn-outline {
  color: #1F1F1F;
  border: 1px solid #1F1F1F;
}

.btn-circle {
  background: #B87DEA;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 228px;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.icon {
  display: block;
}

.tg-icon {
  fill: #FFFFFF;
  width: 26px;
  height: 22px;
}

.vk-icon {
  fill: #FFFFFF;
  width: 26px;
  height: 24px;
}

.main__card-icon {
  width: 66px;
  height: 66px;
}

.icon-center {
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 40px);
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.card {
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(72, 34, 90, 0.15);
  border-radius: 4px;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main {
  position: relative;
  z-index: 100;
}
.main .first-block-container {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
  justify-content: space-between;
}
.main .main__container .main__image-container {
  min-width: 726px;
  min-height: 867px;
  position: relative;
  background-image: url("../../../assets/images/main-page-image.png");
  background-position: 20px -7px;
  background-repeat: no-repeat;
  margin: 0 -10px 0 0;
}
.main .main__flex-container-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  position: relative;
}
.main .main__flex-container-first .main__image-container-online {
  position: absolute;
  top: 50px;
  right: -150px;
  width: 304px;
}
.main .main__flex-container-first .main__image-container-online img {
  width: 100%;
  height: 100%;
}
.main .main__flex-container {
  display: flex;
  gap: 82px;
}
.main .main__description {
  max-width: 465px;
  font-size: 20px;
}
.main .left-arrow {
  fill: #EEB1FE;
  position: absolute;
  top: 340px;
  left: -20px;
}
.main .sun {
  width: 289px;
  height: 292px;
  fill: #EEB1FE;
  position: absolute;
  top: 171px;
  right: -166px;
}
.main .main__cards {
  display: flex;
  justify-content: center;
  gap: 116px;
  margin-bottom: 210px;
}
.main .main__cards .main__card {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(72, 34, 90, 0.15);
  border-radius: 4px;
  width: 365px;
  height: 382px;
  padding: 82px 31px 0 31px;
}
.main .main__cards .main__card .heading-bold {
  margin: 0 0 24px 0;
}
.main .main__cards .main__card .main__card-circle {
  position: absolute;
  top: -110px;
  left: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__cards .main__card:nth-child(1) .main__card-circle {
  width: 138px;
  height: 168px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/circle-top-right.png");
}
.main .main__cards .main__card:nth-child(2) .main__card-circle {
  width: 202px;
  height: 138px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/circle-center-left.png");
  top: -92px;
  left: 83px;
}
.main .main__cards .main__card:nth-child(3) .main__card-circle {
  width: 138px;
  height: 168px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/circle-top-left.png");
}
.main .main__cards .main__card:nth-child(2) {
  margin: -52px 0 0 0;
}
.main .spiral {
  position: absolute;
  top: 1094px;
  left: -20px;
  z-index: -2;
}
.main .spiral img {
  width: 100%;
  height: 100%;
}
.main .violet-block {
  display: flex;
  justify-content: space-between;
  background: #B87DEA;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  padding: 0 82px 90px 162px;
  margin: 0 0 214px 0;
}
.main .violet-block .violet-block__container {
  max-width: 724px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.main .violet-block .violet-block__container p {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.main .violet-block .violet-block__container .violet-block__item {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: url("../../../assets/svg/icon-check.svg") left no-repeat;
  padding: 0 0 0 40px;
}
.main .violet-block .violet-block__container .violet-block__item:not(:last-child) {
  margin: 0 0 16px 0;
}
.main .violet-block .violet-block__image {
  width: 510px;
  height: 681px;
  margin: -22px 0 0 0;
}
.main .violet-block .violet-block__image img {
  width: 100%;
  height: 100%;
}
.main .annotation {
  display: flex;
  height: 660px;
  margin: 0 0 182px 0;
  gap: 72px;
}
.main .annotation .annotation__image {
  position: relative;
}
.main .annotation .annotation__heading {
  margin-bottom: 40px;
}
.main .annotation .annotation-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .annotation .annotation__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 86px;
  max-width: 710px;
}
.main .annotation .annotation__left .annotation__left-container {
  display: flex;
  gap: 7px;
}
.main .annotation .annotation__left .description {
  padding: 0 0 0 54px;
}
.main .annotation .annotation__right {
  display: flex;
  flex-direction: column;
  gap: 86px;
  justify-content: flex-end;
  max-width: 686px;
}
.main .annotation .annotation__right .annotation-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .annotation .annotation__right .description {
  padding: 0 54px 0 0;
}
.main .annotation .annotation__right .annotation__right-container {
  display: flex;
}
.main .annotation .annotation__right .annotation__heading {
  transform: rotate(3.8deg);
}

.demo .demo__container {
  margin: 0 0 80px 0;
  padding: 0 70px 0 106px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  gap: 100px;
  width: 1744px;
}
.demo .demo__container .title {
  font-size: 60px;
  margin: 0 0 20px 0;
  max-width: 560px;
}
.demo .demo__container .demo__image {
  width: 646px;
  height: 788px;
}
.demo .demo__container .demo__image img {
  width: 100%;
  height: 100%;
}
.demo .demo__container .demo__content-container {
  display: flex;
  align-items: center;
  gap: 56px;
}
.demo .demo__container .demo__list .demo__item {
  padding: 10px 20px;
  gap: 16px;
  background: rgba(238, 177, 254, 0.5);
  border-radius: 100px;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #1F1F1F;
}
.demo .demo__container .demo__list .demo__item:not(:last-child) {
  margin: 0 0 16px 0;
}
.demo .flag {
  position: absolute;
  width: 414px;
  height: 356px;
  top: 4px;
  right: -70px;
}

.animals .animals__container {
  display: flex;
  align-items: center;
  background: #FFF6F6;
  margin: 0 0 86px 0;
}
.animals .animals__left-content {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0 0 0 216px;
}
.animals .animals__left-content p {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 158%;
  letter-spacing: 0.02em;
  color: #48225A;
  max-width: 365px;
}
.animals .animals__left-content .animals__image-container {
  width: 156px;
  height: 93px;
}
.animals .animals__left-content .animals__image-container img {
  width: 100%;
  height: 100%;
}
.animals .animals__right-content {
  position: relative;
  width: 1103px;
  height: 174px;
}
.animals .animals__right-content img {
  width: 100%;
  height: 100%;
}
.animals .animals__right-content:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFF6F6 0%, rgba(254, 237, 236, 0.65125) 11.77%, rgba(254, 237, 236, 0.4) 100%);
  top: 0;
  right: 0;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main {
  position: relative;
}
.main .teachers {
  padding: 122px 0 170px 0;
}
.main .teachers .title {
  max-width: 100%;
  text-align: center;
  margin: 0 0 110px 0;
}
.main .teachers .teachers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main .teachers .teachers__cards .teachers__card {
  width: 493px;
  height: 229px;
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
.main .teachers .teachers__cards .teachers__card .card__image {
  transition: all 0.3s ease;
}
.main .teachers .teachers__cards .teachers__card .card__name {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.15px;
  color: #222222;
  margin: 0 0 24px 0;
  transition: all 0.3s ease;
}
.main .teachers .teachers__cards .teachers__card .card__info {
  margin: 0 0 22px 0;
}
.main .teachers .teachers__cards .teachers__card .card__info p {
  display: flex;
  justify-content: space-between;
  line-height: 122%;
  color: #9C9C9C;
  margin: 0 0 4px 0;
  transition: all 0.3s ease;
}
.main .teachers .teachers__cards .teachers__card .card__info span {
  line-height: 122%;
  color: #4C4C4C;
  transition: all 0.3s ease;
}
.main .teachers .teachers__cards .teachers__card .card__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.25px;
  color: #4C4C4C;
  transition: all 0.3s ease;
}
.main .teachers .teachers__cards .teachers__card:hover {
  background: #B87DEA;
  transition: all 0.3s ease;
}
.main .teachers .teachers__cards .teachers__card:hover .card__image {
  filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.15));
  border-radius: 8px;
  transform: rotate(9.25deg);
}
.main .teachers .teachers__cards .teachers__card:hover .card__name {
  color: #FFFFFF;
}
.main .teachers .teachers__cards .teachers__card:hover .card__info p, .main .teachers .teachers__cards .teachers__card:hover span {
  color: #FFFFFF;
}
.main .teachers .teachers__cards .teachers__card:hover .card__price {
  color: #FFFFFF;
}
.main .teachers .teachers__cards .card__content {
  padding: 48px 8px 48px 32px;
}
.main .vzhux-icon {
  position: absolute;
  bottom: 2px;
  left: -90px;
  width: 768px;
  height: 776px;
  z-index: -10;
}

@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background-color: #F5F5F5;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}

.description {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #727272;
}

.heading-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1F1F1F;
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 100px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #1F1F1F;
  max-width: 659px;
}

.annotation__heading {
  background: #D944FF;
  border-radius: 300px;
  transform: rotate(-3.8deg);
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 12px 32px;
}

/*# sourceMappingURL=main.css.map */
