//Сброс
@import "normalize";

//Шрифты, переменные
@import "fonts";
@import "variables";

//Компоненты
@import "components/header";
@import "components/footer";

//Страницы
@import "pages/main-page";
@import "pages/teachers";
@import "pages/tariffs";
@import "pages/program";
@import "pages/payment";

.wrapper{
  background-color: $color-background;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}




