//Сброс
@import "normalize";

//Шрифты, переменные
@import "fonts";
@import "variables";

//Компоненты
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/icons";

//Страницы
@import "pages/main-page";
@import "pages/teachers";
@import "pages/tariffs";
@import "pages/program";
@import "pages/payment";

body {
  font-family: $font-montserrat-regular;
}

.wrapper {
  background-color: $color-background;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
}

.description{
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: $color-gray-text;
}



