@import "fonts";

//Шрифты
$font-montserrat-semi-bold: Montserrat SemiBold;
$font-montserrat-bold: Montserrat Bold;
$font-montserrat-light: Montserrat Light;
$font-montserrat-medium: Montserrat Medium;
$font-montserrat-regular: Montserrat Regular;

$font-rubik-bold: Rubik Bold;
$font-rubik-medium: Rubik Medium;
$font-rubik-regular: Rubik Regular;

$font-nunito-black: Nunito Black;

//Цвета
$color-violet-light: #B87DEA;
$color-violet-dark: #D743FD;
$color-violet-heading: #D944FF;
$color-violet-footer: #48225A;
$color-violet-hover: #D342F8;
$color-violet-hover-border: #D844FE;

$color-black: #1F1F1F;

$color-white: #FFFFFF;
$color-background: #F5F5F5;
$color-gray-text: #727272;




