@import "fonts";

//Шрифты
$font-montserrat: "Montserrat", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-nunito: "Nunito", sans-serif;

//Цвета
$color-violet-light: #B87DEA;
$color-violet-dark: #D743FD;
$color-violet-heading: #D944FF;
$color-violet-footer: #48225A;
$color-violet-hover: #D342F8;
$color-violet-hover-border: #D844FE;

$color-black: #1F1F1F;

$color-white: #FFFFFF;
$color-background: #F5F5F5;
$color-gray-text: #727272;




