@import "../variables";

.footer {
  background-color: $color-violet-footer;
  padding: 40px 0 52px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 0 0 90px 0;
  }

  .author {
    letter-spacing: 0.02em;

    p:first-child {
      line-height: 158%;
      margin: 0 0 20px 0;
      color: rgba(255, 255, 255, 0.5);
    }

    p span {
      color: $color-white;
      border-bottom: 1px solid $color-white;
    }

    p:last-child {
      color: $color-white;
      font-weight: 300;
      font-size: 16px;
      line-height: 158%;
    }
  }

  .policy {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 0 68px 0;
    }

    a {
      font-weight: 300;
      font-size: 16px;
      line-height: 158%;
      letter-spacing: 0.02em;
      color: rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  .menu {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0 0 36px 0;

      a {
        color: $color-white;
        font-weight: 500;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0.02em;
      }
    }
  }

  .contacts {
    p {
      font-size: 18px;
      line-height: 166%;
      text-align: right;
      letter-spacing: 0.02em;
      color: $color-white;
      font-weight: 700;
    }

    .phone {
      margin: 0 0 32px 0;
    }

    .email {
      margin: 0 0 40px 0;
    }

    .phone a,
    .email a {
      display: block;
      font-size: 18px;
      line-height: 166%;
      text-align: right;
      letter-spacing: 0.02em;
      color: $color-white;
    }

    .social {
      display: flex;
      gap: 37px;
      align-items: center;
      justify-content: right;
    }
  }
}
