@import "../variables";

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu__list {
    display: flex;
    gap: 90px;

    .menu__item a {
      font-size: 18px;
      line-height: 122%;
      letter-spacing: 0.02em;
      color: $color-black;
      border-radius: 20px;
      padding: 10px 20px;
      border: 1px solid transparent;
      transition: all 0.3s ease;
    }

    .menu__item a:hover {
      color: $color-violet-hover;

    }
    .menu__item a:focus{
      color: $color-violet-hover;
      border: 1px solid $color-violet-hover-border;
    }

  }

  .account {
    display: flex;
    gap: 19px;
  }
}

