@import "../variables";

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu__list {
    display: flex;
    gap: 90px;

    .menu__item a {
      font-size: 18px;
      line-height: 122.2%;
      letter-spacing: 0.02em;
      color: $color-black;
    }
  }

  .account {
    display: flex;
    gap: 19px;
  }
}