@import "../variables";

.main {
  position: relative;
  z-index: 100;

  .preview {
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    justify-content: space-between;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 39px;
      position: relative;
    }

    &__image {
      position: absolute;
      top: 50px;
      right: -150px;
      width: 304px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      gap: 82px;
    }

    &__description {
      max-width: 465px;
      font-size: 20px;
    }

    &__icon {
      min-width: 726px;
      min-height: 867px;
      position: relative;
      background-image: url("../../../assets/images/main-page-image.png");
      background-position: 20px -7px;
      background-repeat: no-repeat;
      margin: 0 -10px 0 0;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .left-arrow {
    fill: #eeb1fe;
    position: absolute;
    top: 340px;
    left: -20px;
  }

  .sun {
    width: 289px;
    height: 292px;
    fill: #eeb1fe;
    position: absolute;
    top: 171px;
    right: -166px;
  }

  .spiral {
    position: absolute;
    top: 1094px;
    left: -20px;
    z-index: -2;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .how {
    display: flex;
    justify-content: space-between;
    background: $color-violet-light;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    padding: 0 82px 90px 162px;
    margin: 0 0 214px 0;

    &__container {
      max-width: 724px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      gap: 72px;

      p {
        font-family: $font-nunito;
        font-weight: 900;
        font-size: 60px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $color-white;
      }

      .how__list {
        &-item {
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.02em;
          color: $color-white;
          background: url("../../../assets/svg/icon-check.svg") left no-repeat;
          padding: 0 0 0 40px;
        }

        &-item:not(:last-child) {
          margin: 0 0 16px 0;
        }
      }
    }

    &__image {
      width: 510px;
      height: 681px;
      margin: -22px 0 0 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.demo {
  &__container {
    margin: 0 0 80px 0;
    padding: 0 70px 0 106px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    gap: 100px;
    width: 1744px;

    .title {
      font-size: 60px;
      margin: 0 0 20px 0;
      max-width: 560px;
    }

    .demo__image {
      width: 646px;
      height: 788px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .demo__content {
      &-container {
        display: flex;
        align-items: center;
        gap: 56px;
      }

      .demo__list {
        &-item {
          padding: 10px 20px;
          gap: 16px;
          background: rgba(238, 177, 254, 0.5);
          border-radius: 100px;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.02em;
          color: $color-black;
        }

        &-item:not(:last-child) {
          margin: 0 0 16px 0;
        }
      }
    }
  }

  .flag {
    position: absolute;
    width: 414px;
    height: 356px;
    top: 4px;
    right: -70px;
  }
}

.animals {
  &__container {
    display: flex;
    align-items: center;
    background: #fff6f6;
    margin: 0 0 86px 0;

    .left-content {
      display: flex;
      align-items: center;
      gap: 35px;
      padding: 0 0 0 216px;

      p {
        font-family: $font-rubik;
        font-weight: 500;
        font-size: 22px;
        line-height: 158%;
        letter-spacing: 0.02em;
        color: $color-violet-footer;
        max-width: 365px;
      }

      .animals__image {
        width: 156px;
        height: 93px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .right-content {
      position: relative;
      width: 1103px;
      height: 174px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .right-content:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        #fff6f6 0%,
        rgba(254, 237, 236, 0.65125) 11.77%,
        rgba(254, 237, 236, 0.4) 100%
      );
      top: 0;
      right: 0;
    }
  }
}
