@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito-Black.woff2") format("woff2"), url("../../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"), url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main .payment {
  padding: 110px 0 170px 0;
  position: relative;
}
.main .payment__container {
  max-width: 1006px;
}
.main .payment__title {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 126%;
  color: #111729;
  margin: 0 0 32px 0;
}
.main .payment .tariffs {
  margin: 0 0 68px 0;
}
.main .payment .tariffs__pay {
  padding: 56px 84px 42px 84px;
  max-width: 622px;
}
.main .payment .title {
  max-width: 100%;
  text-align: center;
  margin: 0 0 110px 0;
}
.main .pay-method {
  margin: 0 0 68px 0;
}
.main .pay-method__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.main .pay-method__item {
  width: 237px;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
}
.main .pay-method__item:focus {
  background: rgba(238, 177, 254, 0.5);
  border: 3px solid #B87DEA;
}
.main .promo-code {
  margin: 0 0 126px 0;
}
.main .promo-code__content {
  display: flex;
  align-items: center;
}
.main .promo-code .input-promo {
  width: 398px;
  height: 76px;
  background: #f8f8f8;
  border: 1px solid #bababa;
  border-radius: 30px;
}
.main .promo-code .btn-promo {
  width: 168px;
  height: 76px;
  background: #D944FF;
  border-radius: 40px;
  margin: 0 0 0 -74px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0 0 48px 0;
}
.main .total {
  max-width: 377px;
}
.main .total__title {
  margin: 0 0 74px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .total__title span {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 138%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #B87DEA;
}
.main .total .btn {
  width: 100%;
  height: 76px;
  background: #B87DEA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .total .sale {
  font-size: 24px;
  line-height: 126%;
  color: #111729;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  margin: 0 0 38px 0;
}
.main .total .sale span {
  margin: 0 38px 0 0;
}
.main .flag {
  width: 532px;
  height: 460px;
  position: absolute;
  top: 522px;
  right: -57px;
}

/*# sourceMappingURL=payment.css.map */
